<h1>Daftar Mahasiswa</h1>

<% mahasiswa.forEach(m=>
    { %>
    <ul>
        <li>
            nama mahasiswa : <%= m.nama %>
        </li>
        <li>
            prodi : <%= m.prodi %>
        </li>
    </ul>
    <% }) %>