<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= contact.nama %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <%= contact.nim %>
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <%= contact.noHp %>
                    </h6>
                    <a href="/kontak" class="btn btn-primary">back</a>
                </div>
            </div>
        </div>
    </div>
</div>